###> symfony/framework-bundle ###
APP_ENV=prod
APP_NAME=blog
APP_VERSION=beta
APP_DEBUG=0
APP_SECRET=CHANGE_ME_GENERATE_SECRET
APP_PORT=9000
APP_ADMIN_PASSWORD=CHANGE_ME
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_USER=blog
DATABASE_PASSWORD=CHANGE_ME
DATABASE_DB_NAME=app
DATABASE_PORTS=15430:5432
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${APP_NAME}.service.db:5432/${DATABASE_DB_NAME}?serverVersion=15&charset=utf8"
###< doctrine/doctrine-bundle ###

COMPOSE_PROJECT_NAME=blog
COMPOSER_VERSION=2.8.5

TIMEZONE=UTC

NGINX_BACKEND_DOMAIN=_
NGINX_HTTP_PORTS=80:80
NGINX_HTTPS_PORTS=443:443

NODE_JS_APP_PORT=5173
NODE_JS_APP_PORTS=15173:5173
NODE_MODE=dev
