###> symfony/framework-bundle ###
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> docker ###
/docker-compose.override.yaml
/docker-compose.prod.yaml
###< docker ###

###> phpstan/phpstan ###
phpstan.neon
/.idea/
/node_modules/
/.env.dev
/public/assets/
